.input {
    border-radius: 8px;
    padding: 16px 50px;
    width:70%;
    text-align: right;
}

.dollarIcon {
    background: var(--very-light-grayish-cyan) url(src/assets/icon-dollar.svg) no-repeat;
    background-position: left 10px center;
}

.avatarIcon {
    background: var(--very-light-grayish-cyan) url(src/assets/icon-person.svg) no-repeat;
    background-position:left 10px center;
}

.error {
    border: 1px solid var(--error)
}
