.tipBtn {
    margin: 5px;
    padding: 8px 0;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.tipBtn:hover {
    background-color: var(--light-grayish-cyan);
    color: var(--very-dark-cyan);
}

@media screen and (max-width: 375px) {
    .tipBtn {
        width: 120px;
    }
}
